version: "3.8"

services:
  api:
    container_name: gmail_listener_api
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file: .env
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgres://postgres:postgres@localhost:5433/gmail_listener_postgres
    command: ["node", "dist/main.js"]

  db:
    image: postgres:16-alpine
    container_name: gmail_listener_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gmail_listener_postgres
      POSTGRES_HOST: localhost
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  postgres_data:
